{% extends 'base.html' %}


{% block content %}

<section class="bg-gray-200 pt-5">
    <div class="grid grid-cols-5 gap-10 items-center bg-white ">

        
        {% for x in products %}
        
        <div class=" grid grid-cols-1 border-2 p-4 gap-3 justify-center">
            <a href="{% url 'productInfo' x.id %}">
                <img src="{{x.previewImage.url}}" class="p-4 rounded-xl object-center h-80 w-72 shadow-md">

            </a>
            <p class="text-center text-xl font-bold">{{ x.name }}</p>
            <p>
                <span class="text-md font-bold text-slate-400 line-through">₹{{ x.price }}</span>
                <span class="text-md font-bold text-black">₹{{ x.discountPrice }}</span>
            </p>
            <button class="bg-gray-400 h-10 m-2 rounded-lg">buy now</button>
            <button class="bg-yellow-400 h-10 m-2 rounded-lg">add to cart</button>
        </div>
        {% endfor %}
    </div>
    
    
</section>
{% endblock %}




