<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Orders</title>
</head>
<body>

    <h1>My Orders</h1>
    <table>
        <thead>
            <tr>
                <th>Mobile Name</th>
                <th>Mobile Price</th>
                <th>Quantity</th>
                <th>Address</th>
                <th>Remove Order</th>
            </tr>
        </thead>
        <tbody>
            {% for order in orders %}
            <tr>
                {% for x in mobile %}
                <td><a href="{% url 'productInfo' x.id %}">{{ order.mobile_name }}</a></td>
                {% endfor %}
                <td>{{ order.price }}</td>
                <td>{{ order.quantity }}</td>
                <td>{{ order.address}}</td>
                <td><a href="{% url 'delete_order' order.id %}">Delete</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</body>
</html>
